@use "_variables.scss" as *;

#info{
  background-color: rebeccapurple;
  .info-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $bg-principal;

    #right{
      font-family: $font-orbitron;
      font-weight: 900;
      font-size: 280px;
      z-index: 100;
    }

    #turned{
      position: absolute;
      margin-top: 420px;
      color: $text-color-opacity;
      font-family: $font-orbitron;
      font-weight: 900;
      font-size: 280px;
      transform: scaleY(-1);
      filter: blur(0.5px);
      opacity: 60%;
      z-index: 99;
    }
  }
}