@use "_variables.scss" as *;

#line-up{
  letter-spacing: 11%;

    .lineup-title{
      background-color: $bg-principal;
      color: $text-color2;
      width: 100%;
      text-align: center;

      #right {
        display: inline-block;
        font-family: $font-orbitron;
        font-weight: 900;
        font-size: 10vw;
        text-align: center;
        z-index: 100;
        margin-bottom: 80px;
        -webkit-box-reflect: below -0.5em linear-gradient(transparent 20%, rgba(255, 255, 255, 0.3));
      }
    }
    .info-lineup{
      color: $text-color;
      font-family: $font-orbitron;
      font-weight: 900;
      font-size: 24px;
    }

  .planning-haut, .planning-bas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 150px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

    p {
      font-family: $font-orbitron;
      font-weight: 900;
      font-size: 48px;
      color: $text-color;
      padding-bottom: 40px;
      white-space: nowrap;
    }


    ul {
      display: flex;
      flex-direction: column;
      gap: 25px;
      list-style: none;

      li {
        color: $text-color2;
        font-family: $font-orbitron;
        font-weight: 500;
        font-size: 24px;

      }
    }

    #vendredi, #dimanche {
      padding-left: 15%;
    }
  }


  .planning-haut {
    background-color: $bg-principal;
    clip-path: ellipse(100% 100% at 50% 0%);
    padding-top: 150px;
    bottom: 0;
  }

  .planning-bas {
    padding-top: 120px;


    #samedi, #dimanche {
      li { color: inherit; }
    }
  }
}

@media screen and (max-width: 1535px) {
  #line-up {
    .planning-haut, .planning-bas {
      p { font-size: 42px; }
      ul li { font-size: 22px; }
    }
  }
}

@media screen and (max-width: 1440px) {
  #line-up {
    .planning-haut, .planning-bas {
      p { font-size: 42px; }
      ul li { font-size: 18px; }
    }
  }
}


@media screen and (max-width: 1024px) {
  #line-up {
    .lineup-title #right {
      font-size: 15vw;
    }

    .lineup-title #right {
      padding-top: 60px;

    }

    .planning-haut, .planning-bas {
      flex-direction: column;
      padding-bottom: 150px;

      p { padding-bottom: 20px; }

      #vendredi, #dimanche {
        padding-left: 0;
        margin-top: 50px;
      }

      #vendredi{
        padding-bottom: 60px;
      }
    }
    .planning-haut { padding-top: 100px; }
    .planning-bas { padding-top: 80px; }
  }
}


@media screen and (max-width: 866px) {
  #line-up {
    .lineup-title #right {
      font-size: 15vw;
    }

    .planning-haut, .planning-bas {

      p { font-size: 36px; }
      ul li { font-size: 20px; }
    }

  }
}


@media screen and (max-width: 768px) {
  #line-up {
    .info-lineup { font-size: 20px; }

    .planning-haut, .planning-bas {
      padding-bottom: 80px;
      p { font-size: 32px; }
      ul {
        gap: 15px;
        li { font-size: 18px; }
      }
    }
  }
}


@media screen and (max-width: 585px) {
  #line-up {
    .lineup-title #right {
      font-size: 15vw;
    }
    .planning-haut, .planning-bas {
      p { font-size: 26px; }
      ul li { font-size: 16px; }
    }
  }
}


@media screen and (max-width: 480px) {
  #line-up {

   .lineup-title #right {
     font-size: 15vw;
   }

    .info-lineup { font-size: 16px; }

    .planning-haut, .planning-bas {
      padding-bottom: 60px;
      p { font-size: 22px; }
      ul li { font-size: 14px; }
    }

    .planning-haut{
      padding-top: 10px;
    }
    .planning-bas {
      padding-top: 40px;
    }
  }
}


@media screen and (max-width: 366px) {
  #line-up {
    .planning-haut, .planning-bas {
      p { font-size: 18px; }
      ul li { font-size: 12px; }
    }
  }
}