@use "_variables.scss" as *;

#line-up{

    .lineup-title{
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $text-color2;

      #right{
        position: absolute;
        font-family: $font-orbitron;
        font-weight: 900;
        font-size: 200px;
        z-index: 100;
      }

      #turned{
        position: absolute;
        color: $text-color-opacity;
        font-family: $font-orbitron;
        font-weight: 900;
        font-size: 200px;
        transform: scaleY(-1);
        filter: blur(0.5px);
        opacity: 60%;
        margin-top: 150px;
        z-index: 99;
      }
    }
    .info-lineup{
      color: $text-color;
      font-family: $font-orbitron;
      font-weight: 900;
      font-size: 24px;
    }
    .planning-haut{
      background-color: $bg-principal;
      //border-bottom-left-radius: 50% 20px;
      //border-bottom-right-radius: 50% 20px;
      clip-path: ellipse(100% 100% at 50% 0%);
      padding-top: 25%;
      padding-bottom: 150px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      p{
        font-family: $font-orbitron;
        font-weight: 900;
        font-size: 48px;
        color: $text-color;
        padding-bottom: 40px;
      }

      #jeudi{

        ul{
          display: flex;
          flex-direction: column;
          gap: 25px;
          list-style: none;
          li{
            color: $text-color2;
            font-family: $font-orbitron;
            font-weight: 500;
            font-size: 24px;
          }
        }
      }

      #vendredi{
        padding-left: 15%;
        ul{
          display: flex;
          flex-direction: column;
          gap: 25px;
          list-style: none;
        }
        li{
          color: $text-color2;
          font-family: $font-orbitron;
          font-weight: 500;
          font-size: 24px;
        }
      }
    }

    .planning-bas{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding-top: 120px;
      padding-bottom: 150px;

        p{
          font-family: $font-orbitron;
          font-weight: 900;
          font-size: 48px;
          color: $text-color;
          padding-bottom: 40px;
        }

        #samedi{
          ul{
            display: flex;
            flex-direction: column;
            gap: 25px;
            list-style: none;
            li{

              font-family: $font-orbitron;
              font-weight: 500;
              font-size: 24px;
            }
          }
        }

        #dimanche{
          padding-left: 15%;
          ul{
            display: flex;
            flex-direction: column;
            gap: 25px;
            list-style: none;
            li{

              font-family: $font-orbitron;
              font-weight: 500;
              font-size: 24px;
            }
          }
        }
    }
}

