@use "_variables.scss" as *;
@use "_reset.scss" as *;
@use "_fonts.scss" as *;
@use "_header.scss" as *;
@use "_home.scss" as *;
@use "_lineup.scss" as *;
@use "_informations.scss" as *;

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slide{
  width: 100%;
  min-height: 100vh;
}